<%- include('header'); -%>

    <div class="box" id="heading">
    <h1> <%= listTitle %></h1> 
    </div>  
    <div class="box">
        <% for(let i=0; i<NewListItems.length; i++){ %>
        <div class="item">
            <input type="checkbox" >
            <p> <%= NewListItems[i] %> </p>
        </div>
        <% } %>

        <form class="item" action="/" method="post">
            <input name="newItem" type="text" placeholder="New Item" autocomplete="off">
            <button name="list" type="submit" value=<%= listTitle %>>+</button>
        </form>
    </div>
    

    <%- include('footer'); -%>